<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <title>Card Table</title>
  <style type="text/css">
  /* v-tooltip style */
  .tooltip { display:block !important; z-index: 9999; }
  .tooltip .tooltip-inner { background: black; color: white; border-radius: 16px; padding: 5px 10px 4px; }
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1;
  }
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px;
  }
  .tooltip[x-placement^="top"] .tooltip-arrow {
    border-width: 5px 5px 0 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    bottom: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px;
  }
  .tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-width: 0 5px 5px 5px;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;
    top: -5px;
    left: calc(50% - 5px);
    margin-top: 0;
    margin-bottom: 0;
  }
  .tooltip[x-placement^="right"] {
    margin-left: 5px;
  }
  .tooltip[x-placement^="right"] .tooltip-arrow {
    border-width: 5px 5px 5px 0;
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    left: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  .tooltip[x-placement^="left"] {
    margin-right: 5px;
  }
  .tooltip[x-placement^="left"] .tooltip-arrow {
    border-width: 5px 0 5px 5px;
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    right: -5px;
    top: calc(50% - 5px);
    margin-left: 0;
    margin-right: 0;
  }
  .tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(black, .1);
  }
  .tooltip.popover .popover-arrow {
    border-color: #f9f9f9;
  }
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s;
  }
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s;
  }
  </style>
  <style>
    body{background-color:#181a1b;color:white;} a{color:#66f;} a:visited{color:#a6f;} /* darkmode, from default of a{#00e} a:visited{#528} */
    svg * { user-select: none; }
    svg text { pointer-events: none; /* text seems to steal the mouse's attention from far away on Safari. */ }
    html, body { overscroll-behavior-x: none; }  /* try to prevent iOS Safari from going back when swiping right from left edge (even on a card), but fail */
  </style>
  <script src="https://browser.sentry-cdn.com/5.15.5/bundle.min.js" integrity="sha384-wF7Jc4ZlWVxe/L8Ji3hOIBeTgo/HwFuaeEfjGmS3EXAG7Y+7Kjjr91gJpJtr+PAT" crossorigin="anonymous"></script>
  <script type="text/javascript">Sentry.init({ dsn: 'https://f144057d2eb54541860cd73656abefd7@o390476.ingest.sentry.io/5233689' });</script>
</head>
<body style="margin:0">
  <div id="app">
    <cardtable></cardtable>
  </div>

  <script type="text/x-template" id="cardtable-template">
    <div>
      <div style="float:left">
        <table_view
          :width="table_view_width"
          :ownRotation="own_rotation"
          :users="users" :cards="cards" :my_name="my_name"
          @card-clicked="onCardClicked"
          @play-card="playCard"
          @post-message="postMessage"
        ></table_view>
      </div>
      <br>
      <button type="button" @click="show_deal_buttons = !show_deal_buttons">{{ show_deal_buttons? "Hide" : "Show" }} Deal Buttons</button>
      <div v-if="show_deal_buttons" style="padding: 1em 0;">
        <div style="margin-bottom:0.5em"><button type="button" @click="deal('clear')">[Clear Table]</button></div>
        <div style="margin-bottom:0.5em"><button type="button" @click="deal('Euchre')">Euchre</button></div>
        <div style="margin-bottom:0.5em"><button type="button" @click="deal('Pitch')">Pitch</button></div>
        <div style="margin-bottom:0.5em"><button type="button" @click="deal('CanadianSalad')">CanadianSalad</button></div>
        <div style="margin-bottom:0.5em"><button v-for="idx in [6,8]" type="button" @click="deal('Golf'+idx)">Golf{{idx}}</button></div>
        <div style="margin-bottom:0.5em"><button v-for="idx in 7" type="button" @click="deal('OhHell'+idx)">OhHell{{idx}}</button></div>
        <div style="margin-bottom:0.5em"><button v-for="idx in 20" type="button" @click="deal('Wizard'+idx)">Wizard{{idx}}</button></div>
        <div style="margin-bottom:0.5em"><button type="button" @click="deal('Batman')">Batman</button></div>
        <hr>
      </div>
      <button type="button" @click="manager_mode = !manager_mode">{{ manager_mode? "Close" : "Open" }} Manager</button>
      <template v-if="manager_mode">
        <div style="max-height:10em; overflow:scroll"><p v-for="msg in messagelist.slice(0,200)" style="font-size:50%">{{msg}}</p></div>
        <div>
          <div v-for="(userData, name) in users" :key="name">
            • 
            <button type="button" @click.prevent="kickUser(name)" style="padding:0">x</button>
            rot=<input type="number" step="0.01" :value="userData.rot" @input.number.prevent="updateUserRot(name, +$event.target.value)" style="width:5em"></input> 
            <span v-tooltip.auto="JSON.stringify(userData)">{{ name.substr(0,8) }}</span>
            {{ (name === my_name) ? "[me]" : ""}}
          </div>
          <hr>
          Spawn a card: 
          <input type="text" name="label" @keyup.enter.prevent="spawnCard($event.target.value), ($event.target.value='')" style="width:3em"></input>
          <hr>
        </div>
      </template>
      <template v-if="admin_mode">
        <div>
          <hr>
          <cardline v-for="card in sorted_cards" :key="card.cardID"
            :cardID="card.cardID"
            :label="card.label"
            :pos="card.pos"
            :users="users"
            @card-changed="onCardChanged"
            @delete-card="deleteCard">
          </cardline>
          <hr>
        </div>
      </template>
      <div>
        <p>Drag cards around.  Click a card in your hand (at the bottom) to play it.  Right-click a card to flip it.  Press an arrow key to gather a trick.</p>
        <p><a href="/">Return to the lobby.</a></p>
      </div>
    </div>
  </script>

  <script type="text/x-template" id="table_view-template">
    <svg :style="{ width:width+'px', height:(width*1.15)+'px' }" viewBox="0 0 1 1.15" style="background-color:#181a1b">
      <circle :cx="0.5" :cy="0.5" :r="0.4" fill="green"/>
      <g v-if="own_locations" transform="translate(0.75,0.905)">
        <text text-anchor="middle" style="font: bold 0.1% sans-serif; fill:white; stroke:white; stroke-width:0.004px">{{ own_locations }}</text>
        <text text-anchor="middle" style="font: bold 0.1% sans-serif">{{ own_locations }}</text>
      </g>
      <g transform="translate(0.5,0.905)">
        <text text-anchor="middle" style="font: bold 0.2% sans-serif; fill:white; stroke:white; stroke-width:0.004px">{{ my_name.substr(0,8) }}</text>
        <text text-anchor="middle" style="font: bold 0.2% sans-serif">{{ my_name.substr(0,8) }}</text>
      </g>
      <g :transform="'rotate('+360*ownRotation+' 0.5 0.5)'">
        <card v-for="[cardData, cardID] in ordered_table_cards" :key="cardID"
          :cardID="cardID"
          :label="cardData.label" :pos="cardData.pos"
          :width="0.08"
          v-on="$listeners"></card>
      </g>
      <table_user_view v-for="(userData, name) in users" :key="name"
        v-if="name !== my_name"
        :relativeRotation="userData.rot - ownRotation" :name="name"
        :cardlist="cardlist_for(name)"
        :locations="Object.keys(userData.locations || [])"
        v-on="$listeners"></table_user_view>
      <g transform="translate(0,0.9)">
        <own_hand :held_cards="own_held_cards" v-on="$listeners"></own_hand>
      </g>
    </svg>
  </script>

  <script type="text/x-template" id="table_user_view-template">
    <g :transform="transform">
      <g>
        <g v-for="(card, idx) in cardlist" :key="card.cardID" :transform="'rotate(' + (60*(idx+0.5)/cardlist.length - 30) + ' 0 0.12)'">
          <card :cardID="card.cardID" :label="card.label" :pos="{type:'hand',user:card.pos.user,faceup:!card.pos.faceup}"
            :width="0.08" v-on="$listeners"></card>
        </g>
      </g>
      <text text-anchor="middle" y="0.01" style="font: bold 0.2% sans-serif; fill:white; stroke:white; stroke-width: 0.004px">{{ name.substr(0,8) }}</text>
      <text text-anchor="middle" y="0.01" style="font: bold 0.2% sans-serif; fill:black">{{ name.substr(0,8) }}</text>
      <g v-for="(loc, idx) in locations.slice(0,2)" :transform="'translate(0,'+(0.03 + 0.02*idx)+')'">
        <text text-anchor="middle" style="font:bold 0.1% sans-serif; fill:white; stroke:white; stroke-width: 0.002px">{{loc}}</text>
        <text text-anchor="middle" style="font:bold 0.1% sans-serif; fill:black">{{loc}}</text>
      </g>
    </g>
  </script>

  <script type="text/x-template" id="card-template">
    <g :transform="transform" z-index="pos.z">
      <g
        @click.right.prevent="$emit('card-clicked', cardID, $event)"
        @mousedown.left.prevent="startDrag"
        @touchstart.prevent="startDrag"
        @touchmove.prevent="extendDrag"
        >
        <template v-if="pos.faceup">
          <clipPath :id="'clip-'+cardID">
            <rect :x="-width/2" :y="-height/2" :width="width" :height="height" :rx="width/8"/>
          </clipPath>
          <rect :x="-width/2" :y="-height/2" :width="width" :height="height" :rx="width/8"
                fill="white" stroke="black" :style="{'stroke-width':width/40}"/>
          <g :clip-path="'url(#clip-'+cardID+')'">
            <g :transform="'translate(0, '+ (-height*0.12) +')'">
              <text v-for="(line, idx) in displayed_label_lines"
                text-anchor="middle"
                style="font-weight:bold ; font-family:'Times New Roman', serif"
                :style="{'font-size': (width/2) + 'px'}"
                :y="idx * height * 0.28"
                :fill="text_color">{{ line }}</text>
            </g>
          </g>
        </template>
        <template v-else>
          <rect :x="-width/2" :y="-height/2" :width="width" :height="height" :rx="width/8"
            fill="blue" stroke="black" :style="{'stroke-width':width/40}"/>
          <text text-anchor="middle" style="font-family:sans-serif"
            :style="{'font-size': (width/2) + 'px'}"
            fill="#333">Ѫ</text>
        </template>
      </g>
    </g>
  </script>

  <script type="text/x-template" id="own_hand-template">
    <g>
      <g v-for="(cardmeta, idx) in held_cards" :key="cardmeta.cardID"
        :transform="transform(idx, card_width)">
        <card :cardID="cardmeta.cardID" :label="cardmeta.cardData.label"
          :width="card_width*0.9" :pos="cardmeta.cardData.pos"
          v-on="$listeners"></card>
      </g>
    </g>
  </script>

  <script type="text/x-template" id="cardline-template">
    <div>
      •
      <button type="button" @click.prevent="$emit('delete-card', cardID)" style="padding:0">x</button>
      <select name="type" @change.prevent="$emit('card-changed', cardID, $event)">
        <option v-for="loc in ['table','hand']" :value="loc" :selected="pos.type === loc">{{ loc }}</option>
      </select>
      <template v-if="pos.type === 'table'">
        x<input type="number" step="0.01" name="x" :value="pos.x" @input.number.prevent="$emit('card-changed', cardID, $event)" style="width:3em"></input>
        y<input type="number" step="0.01" name="y" :value="pos.y" @input.number.prevent="$emit('card-changed', cardID, $event)" style="width:3em"></input>
        z<input type="number" step="1.0" name="z" :value="pos.z" @input.number.prevent="$emit('card-changed', cardID, $event)" style="width:3em"></input>
        rot<input type="number" step="0.1" name="rot" :value="pos.rot" @input.number.prevent="$emit('card-changed', cardID, $event)" style="width:2.5em"></input>
        faceup<input type="checkbox"  name="faceup" :checked="pos.faceup" @input.prevent="$emit('card-changed', cardID, $event)"></input>
      </template>
      <template v-else-if="pos.type === 'hand'">
        <select name="user" @change.prevent="$emit('card-changed', cardID, $event)">
          <option v-for="name in Object.keys(users).concat(Object.keys(users).includes(pos.user) ? [] : [pos.user])" :value="name" :selected="pos.user === name">{{ name.substr(0,8) }}</option>
        </select>
      </template>
      <span v-tooltip.auto="cardID + ':' + quoteless_pos_json">{{ displayed_label }}</span>
    </div>
  </script>

  <script src="https://cdn.jsdelivr.net/npm/v-tooltip@2.0.3/dist/v-tooltip.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="table.js"></script>
</body>
</html>
